<h1>This is the game page.</h1>

<p>Send this code to your friend to invite: {{id}}</p>

<div id="player-output"></div>

<div id="current-turn">Player 1's turn</div>

<div>
  <p id="player-one-name"></p>
  vs
  <p id="player-two-name"></p>
</div>

<input type="text" id="name-input" />
<button id="set-name">Set Name</button>

<br />

<button id="game-action-button" disabled>Make a move</button>

<script src="/javascript/websocket.js"></script>